.row {
    width: 100%;
}

#list {
    padding: 0;
    margin-top: 20px;
}

.place {
    position: relative;
    margin: 3px 0px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #eee;
    min-height: 100px;
}

.go {
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #ddf;
    padding: 5px;
    margin: 5px;
    right: 1%;
}

.go:hover {
    background-color: #eef;
    cursor: pointer;
}

img {
    max-height: 200px;
}

#user span {
    font-size: 16px;
}

a {
    display: inline-block;
    margin: 5px 0px;
    background-color: #38f;
    width: 100px;
    height: 35px;
    padding: 6px;
    text-decoration: none;
    color: white;
    border: 1px solid #34f;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
    background-color: #49f;
    border: 1px solid #56f;
    color: white;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 3px;
}

#searchBtn {
    padding: 6px;
    border-radius: 3px;
    border: 1px solid gray;
    
}

#searchBtn:hover {
    background-color: #eee;
}